body {
    font-family: "Roboto" sans-serif;
    background-color: #4a4a4a;
    color: silver;
}

row, container, container-fluid {
    padding: 0;
    margin: 0;
}

h2 {
    color: yellow;
}

/*---------------------------------------NAV---*/


/*---------------------------------------MAIN---*/

.jumbotron {
    background-color: transparent;
    color: yellow;
}

.jumbotron-header {
    font-weight: bold;
    margin-bottom: 30px;
}

#solo {
    font-family: "Bungee", sans-serif;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 2px;
    letter-spacing: 10px;
}

#solo2 {
    font-family: "Bungee", sans-serif;
    padding-top: 20px;
}

.lead {
    padding-top: 40px;
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.callout-container {
    height: 100vh;
    background: url("/assets/images/ty.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rounded-circle {
    padding: 10px;
}

/*---------------------------------------HISTORY---*/

/*---------------------------------------DIAGNOSIS---*/

/*---------------------------------------TREATMENT---*/

/*---------------------------------------FOOTER---*/